---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/Cards.astro";
import Footer from "../components/Footer.astro";
import CourseNavbar from "../components/CourseNavbar.astro";
---
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    rel="stylesheet"
/>
<link
    rel="stylesheet"
    href="https://unpkg.com/@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css"
/>

<link rel="icon" type="image/svg+xml" href="/images/icon.ico" />

<body class="light-theme">
<Layout title="Cursos">
  <section class="flex flex-col gap-14 py-10 px-8% bg-[url('/images/icpbg2.webp')] w-full bg-cover">
    <article class="full flex flex-col gap-3 ">
      
      <span class="flex gap-1 justify-center items-center">
        
        <h1
          class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
          Hecha un vistazo a nuestros cursos
        </h1>
      </span>
      <p class="max-w-5xl m-auto text-justify text-lg">
        La capacitación es un proceso que te ayuda a mejorar tus conocimientos y habilidades en un área específica. Con nuestros programas curriculares, podrás aprender o reforzar lo que necesitas para tu trabajo. La capacitación te beneficia al mejorar tus opciones laborales y tu capacidad de emprendimiento.
      </p>
    </article>
    
    <rux-tabs id="tab-set-id-1" small="">
      <rux-tab id="tab-id-1" selected="">Personal</rux-tab>
      <rux-tab id="tab-id-2">Industria</rux-tab>
      <rux-tab id="tab-id-3">Tab 3</rux-tab>
    </rux-tabs>

    <rux-tab-panels aria-labelledby="tab-set-id-1">
      <rux-tab-panel aria-labelledby="tab-id-1"><Cards title="Personal" /></rux-tab-panel>
      <rux-tab-panel aria-labelledby="tab-id-2"><Cards title="Industria" /></rux-tab-panel>
      <rux-tab-panel aria-labelledby="tab-id-3">Tab 3 HTML content</rux-tab-panel>
    </rux-tab-panels>

    
    
    
    <article class="px-8% flex flex-col gap-5">
      
      <span class="flex gap-1 items-center">
        <h1
          class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
        >
          Cursos certificados
        </h1>
        
      </span>
      <div class="flex justify-between items-center flex-wrap gap-2">
        
        <p class="max-w-lg text-justify text-lg">
          La certificación tiene por objetivo reconocer formalmente las competencias laborales de las personas, independientemente de la forma en que hayan sido adquiridas y de si tienen o no un título o grado académico. Junto a esto, busca favorecer las oportunidades de aprendizaje continuo, su reconocimiento y valorización.
        </p>
        <div class="flex gap-10 flex-wrap justify-center items-center">
          <img class="hover:animate-jump w-[400px]" src="/images/certificado.webp" alt="" />
        </div>
      </div>

    </article>

    <span class="item"></span>
    <span class="item2"></span>
    <span class="item3"></span>
  </section>
  <Footer />
</Layout>
</body>

<script
    type="module"
    src="https://unpkg.com/@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.esm.js"
></script>

<style>
  html {
      scroll-behavior: smooth;
    }
  span.item {
    position: absolute;
    top: 40px;
    right: 0;
    width: 7rem;
    height: 8rem;
    transform: rotate(90deg) skewX(-12deg);
    border-radius: 1.5rem;
    background-color: #008697;
    filter: blur(4rem);
    opacity: 0.8;
    display: none;
    z-index: -1;
  }

  @media (width > 300px) {
    span.item {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  span.item2 {
    position: absolute;
    top: 85%;
    left: 55%;
    width: 15rem;
    height: 10rem;
    transform: rotate(60deg) skewX(-12deg);
    border-radius: 6rem;
    background: linear-gradient(30deg, rgb(219, 207, 101), rgb(123, 156, 247));
    filter: blur(3rem);
    opacity: 0.8;
    display: none;
    z-index: -1;
  }

  @media (width > 700px) {
    span.item2 {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  span.item3 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 15rem;
    height: 10rem;
    transform: rotate(60deg) skewX(-12deg);
    border-radius: 6rem;
    background: linear-gradient(30deg, rgb(100, 100, 250), rgb(43, 188, 255));
    filter: blur(5rem);
    opacity: 0.8;
    display: none;
    z-index: -1;
  }

  @media (width > 300px) {
    span.item3 {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }
</style>
